body {
	background-color: #008080;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
header {
	display: flex;
	justify-content: center;
	justify-items: center;
	padding-left: 2rem;
	padding-top: 2rem;
}
a {
	text-decoration: none;
}
a:-webkit-any-link {
	color: whitesmoke;
}

article {
	background-color: whitesmoke;
	padding: 0.2rem;
	height: 100%;
	border-radius: 15px;
}
.menu {
	display: flex;
	gap: 1em;
	font-size: 18px;
}

nav ul {
	list-style: none;
	text-align: center;
}
nav li {
	display: inline-block;
	margin: 0 2rem 0 2rem;
	padding: 0.4rem 1.5rem 0.4rem 1.5rem;
}
nav li:hover {
	background-color: #4c9e9e;
	color: whitesmoke;
	padding: 0.4rem 1.5rem 0.4rem 1.5rem;
	border-radius: 0.3rem;
}
nav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: teal;
	color: #fff;
}
#banner {
	position: absolute;
	height: 4rem;
	width: 100%;
	font-size: 2.6rem;
	text-align: center;
	background-color: #005757;
	color: yellow;
	opacity: 85%;
	padding: 4rem 0rem 4rem 0rem;
}
#sections {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	padding: 3rem;
}

main {
	display: flex;
	flex-direction: column;
}
article > img {
	width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

footer {
	display: flex;
	background-color: black;
}
footer div {
	flex: 1;
	padding: 0;
}
#footer-logo {
	width: 4rem;
	height: auto;
	padding: 2rem 0rem 2rem 4rem;
}
.Copyright {
	display: flex;
	align-items: flex-end;
	padding-right: 4rem;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	color: whitesmoke;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
input[type="checkbox"] {
	display: none;
}
.hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
}

.card-text {
	margin: 2rem;
	line-height: 1.5rem;
}
#logo-mobile {
	display: none;
}

@media (max-width: 768px) {
	nav {
		display: flex;
		justify-content: space-between;
	}
	#logo-mobile {
		display: flex;
	}
	.menu {
		display: none;
		position: absolute;
		background-color: teal;
		right: 0;
		left: 0;
		text-align: center;
		padding: 4rem 0;
		z-index: 40;
		border: 1px black solid;
		opacity: 90%;
	}

	.menu li:hover {
		display: inline-block;
		background-color: #4c9e9e;
		transition: 0.3s ease;
	}

	.menu li {
		margin-top: 2rem;
	}

	input[type="checkbox"]:checked ~ .menu {
		display: flex;
		flex-direction: column;
		top: 3.6rem;
	}

	.hamburger {
		display: block;
	}

	header {
		display: none;
	}
	#banner {
		height: 1.3rem;
		width: 100%;
		font-size: 1rem;
		background-color: #005757;
		color: yellow;
		text-shadow: -1px 1px 5px #6f0ede;
		opacity: 85%;
		padding: 1.3rem 0rem 1.3rem 0rem;
		z-index: 20;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		text-align: center;
	}
	#sections {
		flex-direction: column;
		padding: 2rem 1rem 2rem 1rem;
	}
	footer {
		background-color: black;
		color: whitesmoke;
	}
	#footer-logo {
		width: 4rem;
		height: auto;
		padding: 2rem 0rem 2rem 4rem;
	}
	.Copyright {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1rem;
	}
}
